<!DOCTYPE html>
<html lang="en">

<footer>
  <div class="footer">
  
    <a href="/" class="active"><i class="fas fa-home"></i> Home</a>
    <a href="/user/favorites"><i class="fas fa-heart"></i> Favorites</a>
    <a href="/user/addpoint"><i class="fas fa-plus"></i> Add</a>
    <a href="/user/mypoint"><i class="fas fa-list-ul"></i> Mine</a>
    <a href="/user/profile"><i class="fas fa-user"></i> Profile</a>
  </div>
</footer>

<script src="https://kit.fontawesome.com/802c8a6708.js" crossorigin="anonymous"></script>
