<!DOCTYPE html>
<html lang="en">

<footer>
  <div class="navbar">
    <a href="#home" class="active">Home</a>
    <a href="#favorites">Favorites</a>
    <a href="#addpoint">Add a point</a>
    <a href="#mypoint">My Points</a>
    <a href="#Profile">Profile</a>
  </div>
</footer>
