<!DOCTYPE html>
<html lang="en">

<footer>
  <div class="navbar">
    <a href="/" class="active">Home</a>
    <a href="/user/favorites">Favorites</a>
    <a href="/user/addpoint">Add a point</a>
    <a href="/user/mypoint">My Points</a>
    <a href="/user/profile">Profile</a>
  </div>
</footer>
