<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap" rel="stylesheet">
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

  </head>
  <header>

<div class="topbar">
  <a href="#home">Alfresco</a>
  <form method="POST" action="/logout">
  <button id = logout class="btn btn-primary">Logout</button>
</form>
</div>


    



</script>

        </section>
    </header>


    </header>
