<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/styles/foot.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/addpoint.css" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js" integrity="sha512-JZSo0h5TONFYmyLMqp8k4oPhuo6yNk9mHM+FY50aBjpypfofqtEWsAgRDQm94ImLCzSaHeqNvYuD9382CEn2zw==" crossorigin="anonymous"></script>
</head>
<form method='post' action='/user/addpoint'>
  <div class="form-group">
    <label for="exampleFormControlInput1">Title</label>
    <input type="title" name ="title" class="form-control" id="titleinput" placeholder="Title">
  </div>
  <div class="form-group address">
    <label for="exampleFormControlInput1">Search for Address or Location Name</label>
    <input type="address" name ="address" class="form-control" id="addressinput" placeholder="Address or Location Name">
    <div class="address-insert"></div>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea class="form-control" name ="description"  id="descriptioninput" placeholder="Tell me more about this place" rows="2"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Phone</label>
    <input type="address" name ="phone" class="form-control" id="phoneinput" placeholder="Phone Number">
  </div>
    <div class="form-group">
    <label for="exampleFormControlInput1">Image</label>
    <input type="text" name ="imageurl" class="form-control" id="image" placeholder="imageURL">
  </div>
    <div class="row">
    <div class="col">
    <div class="form-group">
    <label for="exampleFormControlInput1">Latitude</label>
    <input type="text" name ="lat" class="form-control" id="lat" readonly placeholder="...">
    </div>
  </div>
    <div class="col">
    <div class="form-group">
    <label for="exampleFormControlInput1">Longitude</label>
    <input type="text" name ="long" class="form-control" id="long" readonly placeholder="...">
  </div>
    </div>
  </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>



    <%- include('../partials/foot'); %>

    <script type="text/javascript" src="/scripts/geocode.js"></script>

</html>
