<!DOCTYPE html>
<html lang="en">
  <head>

    <link rel="stylesheet" href="/styles/profile.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
      <link rel="stylesheet" href="/styles/error.css" type="text/css" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="422451271758-udtr4g0o48gbdvff2tmrqr7ou8hlnb9j.apps.googleusercontent.com">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



    <title>Error</title>
    <%- include('../partials/loginhead'); %>
<body>

</br>
</br>
</br>
</br>
<main>


    <p id = error1>Error <%= status %></>
    <p id = error2><%= message %> </p>
    </br>
    <a href="/login">
      <button type="button" id = return class="btn btn-primary btn-lg">Return to Sign-in</button>
    </a>

</main>


  </div>
  <section>
  </section>
</body>
</html>
