<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/styles/foot.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>

 </head>


  <body>


<div id="mapid"></div>

<section class="listings">

  <article>
    <ul>

    </ul>
  </article>


</section>


    <%- include('../partials/foot'); %>

     <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>

    <script type="text/javascript" src="/scripts/app.js"></script>
  </body>
</html>
