<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/styles/foot.css" type="text/css" />
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIwzALxUPNbatRBj3Xi1Uhp0fFzwWNBkE&callback=initMap&libraries=&v=weekly"
    async
  ></script>
 </head>


  <body>

    <div class="map placeholder">
<img src="https://www.howtogeek.com/wp-content/uploads/2021/01/google-maps-satellite.png" alt="image of map" />
</div>

<div id="map"></div>




  </body>
  <body>
    <%- include('../partials/foot'); %>
  </body>
</html>
