<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/styles/foot.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIwzALxUPNbatRBj3Xi1Uhp0fFzwWNBkE&callback=initMap&libraries=&v=weekly"
    async
  ></script>
 </head>


  <body>


<div id="map"></div>




  </body>
  <body>
    <%- include('../partials/foot'); %>
  </body>
</html>
