<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles/log_reg.css" type="text/css" />

    <title>Login & Register Page</title>
    <%- include('../partials/head'); %>
<body>

<div class="header-spacer"> </div>
<main>

  <div class="login-buttons">
    <div class="mdc-touch-target-wrapper">
      <button class="mdc-button mdc-button--touch">
        <span class="mdc-button__ripple"></span>
        <span class="mdc-button__label">Login</span>
        <span class="mdc-button__touch"></span>
      </button>
    </div>
  <br>
    <div class="mdc-touch-target-wrapper">
      <button class="mdc-button mdc-button--touch">
        <span class="mdc-button__ripple"></span>
        <span class="mdc-button__label">Register</span>
        <span class="mdc-button__touch"></span>
      </button>

  </div>



</main>


  </div>
</body>
</html>
