<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles/log_reg.css" type="text/css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <title>Login & Register Page</title>
    <%- include('../partials/head'); %>
<body>

<div class="header-spacer"> </div>
<main>

  <div class="login-buttons">
    <div class="mdc-touch-target-wrapper">
      <button class="btn btn-primary">
        <span class="mdc-button__ripple"></span>
        <span class="mdc-button__label">Login</span>
        <span class="mdc-button__touch"></span>
      </button>
    </div>
  <br>
    <div class="mdc-touch-target-wrapper">
      <button class="btn btn-primary">
        <span class="mdc-button__ripple"></span>
        <span class="mdc-button__label">Register</span>
        <span class="mdc-button__touch"></span>
      </button>

  </div>



</main>


  </div>
</body>
</html>
