<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles/log_reg.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="422451271758-udtr4g0o48gbdvff2tmrqr7ou8hlnb9j.apps.googleusercontent.com">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <title>Login & Register Page</title>
    <%- include('../partials/loginhead'); %>
<body>

<div class="header-spacer"> </div>
<main>


 <h1>Eat and drink outside, or as the Italians say, <i>Alfresco</i></h1>


  <div class="g-signin2" data-onsuccess="onSignIn"></div>
  <form class="form-block_reg" action="/login/register" method="POST">
    <input class="form-control" type="text" name="email" placeholder="email:" style="width: 300px; margin: 1em">
    <input class="form-control" type="text" name="name" placeholder="name:" style="width: 300px; margin: 1em">
    <input class="form-control" type="password" name="password" placeholder="password:" style="width: 300px; margin: 1em">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<form class="form-block_log" action="/login/log" method="POST">
  <input class="form-control" type="text" name="email" placeholder="email:" style="width: 300px; margin: 1em">
  <input class="form-control" type="password" name="password" placeholder="password:" style="width: 300px; margin: 1em">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</main>

<script>

function onSignIn(googleUser) {
  var id_token = googleUser.getAuthResponse().id_token;
  console.log("id_token: ", id_token);
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
  $('main').append("Hello " + profile.getName());
  $('main').append("<img src=" + profile.getImageUrl() + ">");
  //window.location.href = "/";
}

</script>

  </div>
</body>
</html>
