<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/styles/foot.css" type="text/css" />
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIwzALxUPNbatRBj3Xi1Uhp0fFzwWNBkE&callback=initMap&libraries=&v=weekly"
      async></script>

</head>

<body>

  <div class="map placeholder">
    <img src="https://www.howtogeek.com/wp-content/uploads/2021/01/google-maps-satellite.png" alt="image of map" />
  </div>

  <div id="map"></div>

  <h1>My Maps</h1>
  <section>
  <div class='favorite'>
    <div>Title</div>
    <div>Description</div>
    <div>Phone</div>
    <div><img src="https://www.mytechguys.ca/wp-content/uploads/2017/03/google-maps-new-interface1.jpg" alt="location"></div>
  </div>
  </section>





</body>

<body>
  <%- include('../partials/foot'); %>
</body>

</html>
