<!DOCTYPE html>
<html lang="en">
  <head>

    <link rel="stylesheet" href="/styles/profile.css" type="text/css" />
    <link rel="stylesheet" href="/styles/foot.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="422451271758-udtr4g0o48gbdvff2tmrqr7ou8hlnb9j.apps.googleusercontent.com">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



    <title>Profile</title>
    <%- include('../partials/head'); %>
<body>

<div class="header-spacer"> </div>
<main>

  <div class="login-buttons">
    <h1><%= user.email %></h1>
    </br>
    <h2>Hello, <%= user.name %>! </h2>
    <h2>Where are you thinking of being outside, today?</h2>
    </br>
    </br>
    </br>
    </br>
    <div id= where_go>
    <h2>At one of your favorite places?</h2>
    </br>
      <a href="/user/favorites"><button id = favmap class="btn btn-primary btn-lg">+ MY FAVORITES MAP</button></a>
    </br>
    <h2>Or...</h2>
    <h2>Someplace you've suggested to others?</h2>
    </br>
    <a href="/user/mypoint"><button id = mypts class="btn btn-primary btn-lg">+ MY POINTS</button></a>
  </div>
  </br>
  </br>
  </br>
  </br>
  <h2><i>Alfresco: Italian for a style of dining that is casual and often party-like in its atmosphere...
    </i>
  </h2>
  <h2><i> Take a break, and enjoy some time with friends... </i></h2>
</br>
  <h1 id= fresco><i>Alfresco. </i></h1>
</main>


  </div>

      <%- include('../partials/foot'); %>

</body>
</html>
