<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" type="image/png" href=https://www.flaticon.com/svg/vstatic/svg/615/615486.svg?token=exp=1615429833~hmac=d5d0bf3afa47f76823bb561995222156>
    <link rel="stylesheet" href="/styles/profile.css" type="text/css" />
    <link rel="stylesheet" href="/styles/foot.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="422451271758-udtr4g0o48gbdvff2tmrqr7ou8hlnb9j.apps.googleusercontent.com">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



    <title>Profile</title>
    <%- include('../partials/head'); %>
<body>

<div class="header-spacer"> </div>
<main>

  <div class="login-buttons">
    <h2 id = font1><%= user.email %></h2>
    </br>
    <h3 id = font >Hello, <%= user.name %>! </h3>
    <h3 id = font >Where are you thinking of being outside, today?</h3>
    </br>
    <div id= where_go>
    <h3 id = font >At one of your favorite places?</h3>
    </br>
      <a href="/user/favorites"><button id = favmap class="btn btn-primary btn-lg">+ MY FAVORITES MAP</button></a>
    </br>
    <h3 id = font >Or...</h3>
    <h3 id = font >Someplace you've suggested to others?</h3>
    </br>
    <a href="/user/mypoint"><button id = mypts class="btn btn-primary btn-lg">+ MY POINTS</button></a>
  </div>
  </br>
  </br>
</br>
  <div class = typewrite>
    <h5>Italian for a style of dining that is casual and often party-like in its atmosphere...
    </h5>
  </br>
</div>
  <h1 id= fresco><i>Alfresco. </i></h1>
</main>


  </div>

      <%- include('../partials/foot'); %>

</body>
</html>
