<!DOCTYPE html>
<html lang="en">
  <head>

    <link rel="stylesheet" href="/styles/profile.css" type="text/css" />
    <link rel="stylesheet" href="/styles/foot.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="422451271758-udtr4g0o48gbdvff2tmrqr7ou8hlnb9j.apps.googleusercontent.com">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



    <title>Profile</title>
    <%- include('../partials/head'); %>
<body>

<div class="header-spacer"> </div>
<main>

  <div class="login-buttons">
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
      <a href="/user/favorites"><button id = favmap class="btn btn-primary btn-lg">+ MY FAVORITES MAP</button></a>
    </br>
    </br>
    </br>
    </br>
    <a href="/user/mypoint"><button id = mypts class="btn btn-primary btn-lg">+ MY POINTS</button></a>

</main>


  </div>
</body>
</html>
