// See: https://sass-lang.com/

$color1: #4D85FA;
$color2: #FA745A;
$color3: #41DEFB;
$color4: #FABA28;
$color5: #34FAAA;

$logoFont: 'Lobster', cursive;
$mainFont: 'Roboto', sans-serif;

form {
  width: 90%;
  align-self: center;
  font-family: $mainFont;
}

li {
  list-style-type:none;
  border-style: solid;
    border-radius: 10px;
    border-color: $color4;
    display: block;
    width: fit-content;
    padding: 3px;
  &:hover {
    background-color: $color2;
    color: white;
    cursor: pointer;
  }
}

div.address-insert {
  padding-top: 5px;
}