// See: https://sass-lang.com/

$color1: #4D85FA;
$color2: #FA745A;
$color3: #41DEFB;
$color4: #FABA28;
$color5: #34FAAA;

$logoFont: 'Lobster', cursive;
$mainFont: 'Roboto', sans-serif;


form.geocode {
  width: 90%;
  margin: auto;
  margin-bottom: 25%;
  align-self: center;
  font-family: $mainFont;
}
form {
  width: 90%;
  margin: auto;
  align-self: center;
  font-family: $mainFont;
}

li {
  list-style-type:none;
  border-style: solid;
    border-radius: 10px;
    border-color: $color1;
    display: block;
    width: fit-content;
    padding: 2px;
    margin: 2px;
  &:hover {
    background-color: $color2;
    color: white;
    cursor: pointer;
  }
}

div.address-insert {
  padding-top: 5px;
}

#delete {
  border-color: #007bff00;
  background-color: $color2;
  &:hover {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

#confirm {
  border-color: #007bff00;
  background-color: $color5;
  &:hover {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

button.edit {
  width: 100%;
}