// See: https://sass-lang.com/

$color1: #4D85FA;
$color2: #FA745A;
$color3: #41DEFB;
$color4: #FABA28;
$color5: #34FAAA;

$logoFont: 'Lobster', cursive;
$mainFont: 'Roboto', sans-serif;

.navbar {
  display: flex;
  justify-content: space-between;
	background-color: $color1;
	overflow: hidden;
	position: fixed;
	bottom: 0;
  width: 100%;
  font-family: $mainFont;
	a {
    text-decoration: none;
		color: #f2f2f2;
		text-align: center;
		padding: 14px 16px;
		font-size: 14px;
		&:hover {
			background-color: white;
			color: $color1;
		}
	}
	a.active {
		background-color: $color1;
    color: white;

	}
}
