// See: https://sass-lang.com/

$color1: #4D85FA;
$color2: #FA745A;
$color3: #41DEFB;
$color4: #FABA28;
$color5: #34FAAA;

$logoFont: 'Lobster', cursive;
$mainFont: 'Roboto', sans-serif;

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $color2;
  .vsc-initialized {
    display: block;
  }
}


#mapid {
  position: absolute;
  height: 85.2% !important;
  width: 100% !important;
  margin-top: 6%;
}

.listings{
  border: 2px solid black;
  margin-top: 25em;
}

img.marker-image {
  max-width: -webkit-fill-available;
}

div.leaflet-popup-content {
  display: grid;
}
