// @import 'layout'

$color1: #4D85FA;
$color2: #FA745A;
$color3: #41DEFB;
$color4: #FABA28;
$color5: #34FAAA;

$logoFont: 'Lobster', cursive;
$mainFont: 'Roboto', sans-serif;


.header-spacer {
  height: 64px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-family: $mainFont;
  text-align: -webkit-center;
}

div.login-buttons {
  display: grid;
  place-items: center;
}
