// See: https://sass-lang.com/

$color1: #4D85FA;
$color2: #FA745A;
$color3: #41DEFB;
$color4: #FABA28;
$color5: #34FAAA;

$logoFont: 'Lobster', cursive;
$mainFont: 'Roboto', sans-serif;

// html {
//   height: 100%;
// }

body {
  display: flex;
  flex-direction: column;
  background-color: $color2;
}


#map {
  position: absolute;
  height: 50% !important;
  width: 100% !important;
  margin-top: 4em;
}



article {
  display: flex;
  flex-direction: row;
  border: 4px solid #FFFFFF;
  border-radius: 25px;
  padding: 1em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
  margin-top: 25em;
  word-wrap: break-word;

}

.favorite p{



}

.minimap {
  align-self: flex-end;
}

.minimap img {
  height: 200px;
  width: 300px;
  border-radius: 25px;
  margin-right: 2em;
  margin-left: 250px;


}
div.leaflet-popup-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.5em;
}
