// @import 'layout'
// See: https://sass-lang.com/

$color1: #4D85FA;
$color2: #FA745A;
$color3: #41DEFB;
$color4: #FABA28;
$color5: #34FAAA;

$logoFont: 'Lobster', cursive;
$mainFont: 'Roboto', sans-serif;



.header-spacer {
  height: 64px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

div.login-buttons {
  display: grid;
  place-items: center;
}

#favmap {
  border-radius: 2rem;
  background-color: $color3;
  border-color: $color3;
  font-family: $mainFont;
    &:hover {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

#mypts {
  border-radius: 2rem;
  background-color: $color3;
  border-color: $color3;
  font-family: $mainFont;
    &:hover {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  }
}

#fresco {
  font-family: $logoFont;
  color: $color1;
}

#where_go {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: 20px;
  background-color: #6c757d69;
}


@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

#font {
  font-family: $mainFont;
}

#font1 {
  color: $color1; 
}


.typewrite{
  width: 75%;
  font-family: $mainFont;
  color: $color1;
  font-size: 22px;
}

.typewrite h5 {
  overflow: hidden;
  border-right: .01em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .05em;
  animation:
    typing 5.5s steps(60, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 90% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  20% { border-color: $color4; }
}
